meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description' content='')
meta(name='author' content='Jingze Ma')
meta(http-equiv='X-UA-Compatible' content='IE=Edge')
title!=title
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
link(rel='stylesheet' href='/css/font-awesome.css')
