doctype html
html(lang='en')
	head
		include includes/header.pug
		script(src='/js/authen.js')
		link(rel='stylesheet' href='/css/login.css' type='text/css')
	body
		.container-fluid.standard-bg#home
			.col-md-6.col-md-offset-3(ng-app='Authentication')
				include includes/login.pug
				include includes/register.pug
			
	