doctype html
html(lang='en')
	head
		include includes/header.pug
		link(rel='stylesheet' href='/css/main.css' type='text/css')
		script(src="/js/mainpage.js" type="text/javascript")
	body
		#home.banner(ng-app='mainPageModule')
			.header
				.container
					.logo
						h1
							a(href="#") Magic Library
			.top-menu(ng-controller='mainController')
				.container
					nav.cl-effect-1
						span(class="menu")
							img(src="/images/nav-icon.png" alt="")
						ul(id='navbar')
							li(id='homeItem')
								a.scroll(ng-href='#home') Home
							li(id='aboutItem')
								a.scroll(ng-href='#about') About
							li(id='activityItem')
								a.scroll(ng-href='#activities') Activities
							li(id='borrowItem' ng-click='borrow')
								a.scroll(ng-href='/borrow') Borrow Book
							li(id='documentItem' ng-click='documents')
								a.scroll(ng-href='/documents') My Documents
							li(id='profileItem' ng-click='profile')
								a.scroll(ng-href='/profiles') My Profiles
			.banner-form
				.container
					p Search Book
				form(id='searchform' class='form-inline' role='form' ng-controller='mainController')
					.form-group
						input(type="text" class="form-control" id="inputSearch" placeholder="Book Title" ng-model='bookTitle')
					button(type="submit" class="btn btn-primary" ng-click='search()') Search
		#about.about
			.container
				h3.abt About
				.about-top
					p Library Summary
				.about-grids
					.col-md-6.about-grid-info
						p This is a public library system on-line. Every user can borrow and return books from this web site.
					.col-md-6.about-pic
						img(src="/images/img1.jpg" class="img-responsive" alt="")
					.clearfix
		#activities.activities
			.container
				h3.ser Activities
				.activities-grids
					.activities-grid
						.col-md-4.activities-pic
							img(src="/images/s1.jpg" class="img-responsive" alt="")
						.col-md-8.activities-info
							h3 Children Story
							p Every Saturday 11:00am to 12:00am. One teacher tell a interesting story to kids
						.clearfix
					.activities-grid
						.col-md-4.activities-pic
							img(src="/images/s2.jpg" class="img-responsive" alt="")
						.col-md-8.activities-info
							h3 Drawing activity
							p Every Sunday 11:00am to 12:00am. Kid can go here to draw.
						.clearfix
						
				